<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BookmarkURLs</key>
	<array>
		<dict>
			<key>BookmarkName</key>
			<string>My T-Mobile</string>
			<key>BookmarkURL</key>
			<string>http://my.t-mobile.com</string>
		</dict>
	</array>
	<key>CarrierName</key>
	<string>T-Mobile</string>
	<key>MMS</key>
	<dict>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MMSC</key>
		<string>http://216.155.174.84/servlets/mms</string>
		<key>MaxMessageSize</key>
		<integer>1048576</integer>
		<key>MaxRecipients</key>
		<integer>10</integer>
		<key>MaxVideoBitrate</key>
		<integer>131072</integer>
		<key>Proxy</key>
		<string>216.155.165.50:8080</string>
		<key>UserAgent</key>
		<string>SonyEricssonW800i/R1L</string>
		<key>Version</key>
		<string>1.2</string>
	</dict>
	<key>MyAccountURL</key>
	<string>http://my.t-mobile.com</string>
	<key>MyAccountURLTitle</key>
	<string>My T-Mobile</string>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>611</string>
			<key>ServiceName</key>
			<string>Customer Care</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>411</string>
			<key>ServiceName</key>
			<string>Directory Assistance</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#999#</string>
			<key>ServiceName</key>
			<string>Balance</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>*233</string>
			<key>ServiceName</key>
			<string>Add Minutes</string>
		</dict>
	</array>
	<key>ShowCallForwarded</key>
	<false/>
	<key>ShowCallForwarding</key>
	<false/>
	<key>ShowTTY</key>
	<false/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>T - Mobile</string>
			<key>DefaultImage</key>
			<string>Default_CARRIER_TMOBILE.png</string>
			<key>FullScreenOpaqueImage</key>
			<string>FSO_CARRIER_TMOBILE.png</string>
		</dict>
	</array>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string>T-Mobile</string>
			<key>symbol</key>
			<string>DT</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>310260</string>
	</array>
	<key>SupportsNITZ</key>
	<true/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>VoicemailPilotNumber</key>
	<string>123</string>
	<key>WiFiHotspots</key>
	<dict>
		<key>ATTMETROWIFI</key>
		<dict>
			<key>AuthMethod</key>
			<string>WISPr</string>
			<key>AuthenticationRealm</key>
			<string>attmobilityiphone.com</string>
			<key>Password</key>
			<string>%attmd5%</string>
			<key>SharedSecret</key>
			<string>a446649326d41d87dbb8caec8caf736a</string>
			<key>TrustedDomains</key>
			<array>
				<string>.wayport.net</string>
				<string>.att.net</string>
				<string>.att.com</string>
				<string>.sbc.com</string>
			</array>
			<key>UserName</key>
			<string>%phonenumber%</string>
		</dict>
		<key>Wayport_Access</key>
		<dict>
			<key>AuthMethod</key>
			<string>WISPr</string>
			<key>AuthenticationRealm</key>
			<string>attmobilityiphone.com</string>
			<key>Password</key>
			<string>%attmd5%</string>
			<key>SharedSecret</key>
			<string>a446649326d41d87dbb8caec8caf736a</string>
			<key>TrustedDomains</key>
			<array>
				<string>.wayport.net</string>
				<string>.att.net</string>
				<string>.att.com</string>
				<string>.sbc.com</string>
			</array>
			<key>UserName</key>
			<string>%phonenumber%</string>
		</dict>
		<key>attwifi</key>
		<dict>
			<key>AuthMethod</key>
			<string>WISPr</string>
			<key>AuthenticationRealm</key>
			<string>attmobilityiphone.com</string>
			<key>Password</key>
			<string>%attmd5%</string>
			<key>SharedSecret</key>
			<string>a446649326d41d87dbb8caec8caf736a</string>
			<key>TrustedDomains</key>
			<array>
				<string>.wayport.net</string>
				<string>.att.net</string>
				<string>.att.com</string>
				<string>.sbc.com</string>
			</array>
			<key>UserName</key>
			<string>%phonenumber%</string>
		</dict>
	</dict>
	<key>apns</key>
	<array>
		<dict>
			<key>apn</key>
			<string>internet2.voicestream.com</string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>49</integer>
			<key>username</key>
			<string></string>
		</dict>
		<dict>
			<key>apn</key>
			<string>wap.voicestream.com</string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>4</integer>
			<key>username</key>
			<string></string>
		</dict>
		<dict>
			<key>apn</key>
			<string>internet2.voicestream.com</string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>48</integer>
			<key>username</key>
			<string></string>
		</dict>
	</array>
	<key>voicemail_context</key>
	<integer>0</integer>
</dict>
</plist>
