Author: Sorin Ionescu (SpookyET) <sorin.ionescu@gmail.com>
Maintainer: poetic_folly <poetic_folly@modmyi.com>
Name: T-Mobile US - Postpaid/Flexpaid t-zones
Package: com.spookyet.t-mobile-us.postpaid-flexpaid-tzones
Section: Tweaks
Version: 1.0.7
Architecture: iphoneos-arm
Provides: com.spookyet.t-mobile-us
Conflicts: com.spookyet.t-mobile-us
Description: T-Mobile US carrier support for old postpaid and flexpaid t-zones plans.
 It enables MMS, Internet, tethering.
 Reboot after installation/uninstallation for the changes to take effect.
 If you experience problems due to previously installed carrier support
 bundles, mobile configuration files, or hacks found in Cydia/Icy, reset
 your network configuration:
 	Settings > General > Reset > Reset Network Settings.
 READ: http://tr.im/qu4F
 DONATE: http://tr.im/s1XM
Homepage: http://modmyi.com/info/postpaid-flexpaid-tzones.php
Depiction: http://modmyi.com/info/postpaid-flexpaid-tzones.d.php
Sponsor: ModMyi.com <http://modmyi.com/forums/index.php?styleid=31>
