<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowEDGEEditing</key>
	<true/>
	<key>BookmarkURLs</key>
	<array>
		<dict>
			<key>BookmarkName</key>
			<string>My T-Mobile</string>
			<key>BookmarkURL</key>
			<string>http://my.t-mobile.com</string>
		</dict>
	</array>
	<key>CarrierName</key>
	<string>T-Mobile</string>
	<key>CustomerServicePhoneNumber</key>
	<string>611</string>
	<key>IntlDataRoamingExceptions</key>
	<array>
		<string>310110</string>
		<string>310140</string>
		<string>310470</string>
	</array>
	<key>IntlDataRoamingSwitch</key>
	<true/>
	<key>MMS</key>
	<dict>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MMSC</key>
		<string>http://216.155.174.84/servlets/mms</string>
		<key>MaxMessageSize</key>
		<integer>1048576</integer>
		<key>MaxVideoBitrate</key>
		<integer>131072</integer>
		<key>MaxRecipients</key>
		<integer>10</integer>
		<key>Proxy</key>
		<string>216.155.165.50:8080</string>
		<key>UAProf</key>
		<string>http://www.apple.com/mms/uaprof.rdf</string>
		<key>UserAgent</key>
		<string>SonyEricssonW800i/R1L</string>
		<key>Version</key>
		<string>1.2</string>
	</dict>
	<key>MyAccountURL</key>
	<string>http://my.t-mobile.com</string>
	<key>MyAccountURLTitle</key>
	<string>T-Mobile</string>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>611</string>
			<key>ServiceName</key>
			<string>Customer Care</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>411</string>
			<key>ServiceName</key>
			<string>Directory Assistance</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#225#</string>
			<key>ServiceName</key>
			<string>Balance</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#646#</string>
			<key>ServiceName</key>
			<string>Minutes Used</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>#674#</string>
			<key>ServiceName</key>
			<string>Messages Used</string>
		</dict>
	</array>
	<key>ShowCallForwarded</key>
	<false/>
	<key>ShowCallForwarding</key>
	<false/>
	<key>ShowDialAssist</key>
	<true/>
	<key>ShowTTY</key>
	<true/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<false/>
			<key>CarrierName</key>
			<string>T - Mobile</string>
			<key>DefaultImage</key>
			<string>Default_CARRIER_TMOBILE.png</string>
			<key>FullScreenOpaqueImage</key>
			<string>FSO_CARRIER_TMOBILE.png</string>
		</dict>
	</array>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string>T-Mobile</string>
			<key>symbol</key>
			<string>DT</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>310160</string>
		<string>310170</string>
		<string>310200</string>
		<string>310210</string>
		<string>310220</string>
		<string>310230</string>
		<string>310240</string>
		<string>310250</string>
		<string>310260</string>
		<string>310270</string>
		<string>310280</string>
		<string>310290</string>
		<string>310300</string>
		<string>310310</string>
		<string>310330</string>
		<string>310580</string>
		<string>310660</string>
		<string>310800</string>
	</array>
	<key>SupportsNITZ</key>
	<true/>
	<key>SupportsUserBusyCauseCode</key>
	<false/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>VoicemailPilotNumber</key>
	<string>123</string>
	<key>apns</key>
	<array>
		<dict>
			<key>apn</key>
			<string>internet3.voicestream.com</string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>49</integer>
			<key>username</key>
			<string></string>
		</dict>
		<dict>
			<key>apn</key>
			<string>internet3.voicestream.com</string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>48</integer>
			<key>username</key>
			<string></string>
		</dict>
		<dict>
			<key>apn</key>
			<string>wap.voicestream.com</string>
			<key>password</key>
			<string></string>
			<key>type-mask</key>
			<integer>4</integer>
			<key>username</key>
			<string></string>
		</dict>
	</array>
	<key>voicemail_context</key>
	<integer>0</integer>
</dict>
</plist>
