<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CarrierName</key>
	<string>T-Mobile</string>
	<key>MMS</key>
	<dict>
		<key>GroupModeEnabled</key>
		<false/>
		<key>MMSC</key>
		<string>http://mms.msg.eng.t-mobile.com/mms/wapenc</string>
		<key>MaxMessageSize</key>
		<integer>1048576</integer>
		<key>MaxRecipients</key>
		<integer>10</integer>
		<key>MaxVideoBitrate</key>
		<integer>131072</integer>
		<key>Proxy</key>
		<string>216.155.165.50:8080</string>
		<key>UserAgent</key>
		<string>SonyEricssonW800i/R1L</string>
		<key>Version</key>
		<string>1.2</string>
	</dict>
	<key>MaxBluetoothModemConnections</key>
	<integer>1</integer>
	<key>MyAccountURL</key>
	<string>http://my.t-mobile.com</string>
	<key>MyAccountURLTitle</key>
	<string>My T-Mobile</string>
	<key>PhoneNumberRegistrationGatewayAddress</key>
	<string>+447786205094</string>
	<key>Services</key>
	<array>
		<dict>
			<key>ServiceCode</key>
			<string>611</string>
			<key>ServiceName</key>
			<string>Customer Care</string>
		</dict>
		<dict>
			<key>ServiceCode</key>
			<string>411</string>
			<key>ServiceName</key>
			<string>Directory Assistance</string>
		</dict>
	</array>
	<key>ShowCallForwarded</key>
	<false/>
	<key>ShowCallForwarding</key>
	<false/>
	<key>ShowTTY</key>
	<false/>
	<key>StatusBarImages</key>
	<array>
		<dict>
			<key>AllowPrefixMatching</key>
			<true/>
			<key>CarrierName</key>
			<string>T - Mobile</string>
			<key>DefaultImage</key>
			<string>Default_CARRIER_T-Mobile US.png</string>
			<key>FullScreenOpaqueImage</key>
			<string>FSO_CARRIER_T-Mobile US.png</string>
			<key>StatusBarCarrierName</key>
			<string>T-Mobile</string>
		</dict>
	</array>
	<key>StockSymboli</key>
	<array>
		<dict>
			<key>name</key>
			<string>T-Mobile</string>
			<key>symbol</key>
			<string>DT</string>
		</dict>
	</array>
	<key>SupportedSIMs</key>
	<array>
		<string>310260</string>
	</array>
	<key>SupportsNITZ</key>
	<true/>
	<key>VVMIgnoresIntlDataRoaming</key>
	<false/>
	<key>VisualVoicemailServiceName</key>
	<string>none</string>
	<key>VoicemailPilotNumber</key>
	<string>123</string>
	<key>apns</key>
	<array/>
	<key>signature</key>
	<data>
		SoRInAo/HFp8UZFxEcFm5gbgh7y9tIJNWAGiVcgneAmMCx4km5qs0Nn3bDHw5/sUXMuw
		OQSoQZT2ZxMdfoZdIhL+2HAvJCzfIm9QUlBxQmCjTS+yn+E9NCm4eAqhh/ukXs7bUTla
		woOEdWCMSMpfM7E5ToaioPQ3mkBDt2hlwVA=
	</data>
</dict>
</plist>
