<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>TMobile_us</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.TMobile_us</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>9.0</string>
	<key>DTCompiler</key>
	<string>4.2</string>
	<key>DTPlatformBuild</key>
	<string>8C134a</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>4.2 Seed 2</string>
	<key>DTSDKName</key>
	<string>iphoneos4.2.internal</string>
	<key>DTXcode</key>
	<string>0325</string>
	<key>DTXcodeBuild</key>
	<string>10M2423</string>
	<key>MinimumOSVersion</key>
	<string>4.2</string>
</dict>
</plist>
