Website: http://www.tr.im/qu4F
Maintainer: Sorin Ionescu <sorin.ionescu@gmail.com>
Name: T-Mobile US - 
Package: spookyet.t-mobile-us-
Section: Tweaks
Version: 1.0.5
Architecture: iphoneos-arm
Provides: t-mobile-us-carrier-support
Conflicts:t-mobile-us-carrier-support
Description: T-Mobile US carrier support for
Sponsor: spookyet.wordpress.com <http://spookyet.wordpress.com>

