Author: Sorin Ionescu (SpookyET) <sorin.ionescu@gmail.com>
Maintainer: Sorin Ionescu (SpookyET) <sorin.ionescu@gmail.com>
Name: T-Mobile US - 
Package: com.spookyet.t-mobile-us.
Section: Tweaks
Version: 1.0.5
Architecture: iphoneos-arm
Provides: com.spookyet.t-mobile-us
Conflicts: com.spookyet.t-mobile-us
Description: T-Mobile US carrier support for
 Reboot after installation/uninstallation.
Sponsor: spookyet.wordpress.com <http://spookyet.wordpress.com>
Website: http://tr.im/qu4F

