Author: Sorin Ionescu (SpookyET) <sorin.ionescu@gmail.com>
Maintainer: poetic_folly <poetic_folly@modmyi.com>
Name: T-Mobile US - t-zones
Package: com.spookyet.t-mobile-us.t-zones
Section: Tweaks
Version: 1.1.0
Architecture: iphoneos-arm
Provides: com.spookyet.t-mobile-us
Conflicts: com.spookyet.t-mobile-us
Depends: firmware (>= 4.0)
Description: T-Mobile US carrier support for t-zones plans.
 MUST READ: http://j.mp/tmous
 PLEASE DONATE: http://j.mp/tmousd
 It contains carrier settings for MMS, Internet, and tethering.
 Reboot after installation/uninstallation for changes to take effect.
 If you experience problems due to previously installed carrier support
 bundles, mobile configuration files, or hacks found in Cydia, reset
 your network configuration:
 	Settings > General > Reset > Reset Network Settings.
Homepage: http://modmyi.com/info/t-zones.php
Depiction: http://modmyi.com/info/t-zones.d.php
Sponsor: ModMyi.com <http://modmyi.com/forums/index.php?styleid=31>
